body {
    background: rgb(2, 2, 56);
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 3px;
    padding: 8px;
    justify-content: center;
    transition: margin-left 0.3s 0.1s;
}

.create_container {
    margin-top: 1rem;
    margin-left: 1rem;
    justify-content: center;
}

.pagination {
    margin-bottom: 2rem;
    cursor: pointer;
}

.placeCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* Responsive layout */
@media (max-width: 800px) {
    .placeCards {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}